body {
background-color: rgb(75, 73, 73);
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: white;
font-variant: small-caps;
}
/* Top navigation background color */
.topnav {
    background-color: #133B5C;
    overflow: hidden;
  }
  
  /* Links style in navigation bar */
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Color of links on hover */
  .topnav a:hover {
    background-color: #1E5F74;
    color: #FCDAB7;
  }
  
  /* Color active/current link */
  .topnav a.active {
    background-color: #1E5F74;
    color: white;
  }
  .banner {
    width: 100%;
    margin 0%;
  }
.center {
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  ul {
      list-style: none;
  }

li {display: inline-block;
    padding: 10%;
}